streamlit==1.29.0
streamlit-option-menu==0.3.6
easydict==1.10
numpy==1.24.3
pandas==2.0.3
facenet_pytorch==2.5.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
opencv-python==4.8.1.78
Pillow==10.0.0
tensorboardX==2.6